.banner {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 4rem;
    padding-bottom: 1rem;
    width: 100vw;
    height: 50vh;
    background-image: url(../images/banner-header-xbox.jpg);
    background-position: center;
    background-size: cover;
    color: var(--white);
}

.banner__title {
    font: var(--font-title);
    text-shadow: 5px 5px 10px var(--black);
}

.banner__description {
    font: var(--font-semibold-sm);
    text-shadow: 5px 5px 10px var(--black);
}

@media screen and (min-width: 768px) {
    .banner{
        gap: 1rem;
    }
    
    .banner__title{
        font-size: 3.25rem;
    }

    .banner__description{
        font-size: 1.375rem;
    }
}