.footer{
    background-color: var(--green-200);
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__logo{
    background-image: url(../images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 11rem;
    height: 3.125rem;
}

.footer__info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.info__link{
    font: var(--font-regular);
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.copyright i {
    color: var(--main-color);
}

@media screen and (min-width: 768px) {
    .footer{
        flex-direction: row;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .footer__info{
        flex-grow: 1;
        align-items: flex-start;
    }

    .form__container-footer{
        width: 60%;
    }
}