.item__button {
    position: absolute;
    top: 0.5rem;
    right: 0;
    background-color: transparent;
    color: #FFFFFF;
    text-shadow: 1px 1px 4px #000000a1;
    font-size: 1.375rem;
}

.item__button-delete{
    right: 2rem;
}

.list__item{
    position: relative;
}