.products {
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.products__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.products__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.menu__title {
  font: var(--font-title);
}

.menu__title-products {
  margin-bottom: 1rem;
}

.list__item {
  width: calc(50% - 1rem);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item__image {
  height: 12.5rem;
}

.item__title {
  font: var(--font-regular-sm);
}

.item__price {
  font: var(--font-bold);
}

.item__link {
  font: var(--font-bold-sm);
  color: var(--main-color);
}

@media screen and (min-width: 568px) {
  .list__item {
    width: calc(25% - 1rem);
  }

  .products__menu {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 992px) {
  .list__item-home:nth-child(n + 5) {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .list__item {
    width: calc(16.67% - 1rem);
  }
}
